body {
    background: grey;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

.about-me {
    background: red;
    width: 100%;
    .photo-1 {
        background: purple;
        margin: -1rem -1rem 0rem -1rem;
    }
    .bio h2{
        width: 100%;
        height: 5rem;
        background: #427085;
    }
    .bio-text {
        width: 100%;
        height: 12rem;
        background: #323d64;
    }
    .bio-redes {
        width: 100%;
        height: 3rem;
        background: #3e533a;
    }
}


.my-work{
    background: blue;
    width: 100%;
    h2 {
    text-align: center;
}
}

.cards {
    background: rgb(116, 116, 86);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    width: 100%;
    background: purple;
    .card-img {
        width: 100%;
        height: 7rem;
        background: #8b4949;
    }
    .card-text {
        width: 100%;
        height: 5rem;
        background-color: #5a2d2d;
        .titulo-redes{
            width: 100%;
            height: 2rem;
            background: #000;
        }
        .texto {
            width: 100%;
            height: 3rem;
            background: rgba(0, 128, 0, 0.521);
        }
    }
}

.contact-me {
    background: green;
    width: 100%;
    h2 {
        text-align: center;
    }
}

.contact {
    background: #104a64;
    width: 100%;
    height: 10rem;
}

.photo-2 {
    background: orange;
    width: 100%;
    height: 8rem;
}